@tailwind base;
@tailwind components;
@tailwind utilities;

/* SOLUÇÃO FINAL PARA O CSS GLOBAL - FORÇANDO CONTRASTE */
body {
    background-color: white; /* Fundo padrão */
    color: #333333; /* Texto padrão */
    min-height: 100vh;
}

/* Forçamos o contraste da Navbar para o preto total */
.bg-black {
    background-color: black !important;
}