@tailwind base;
@tailwind components;
@tailwind utilities;

/* SOLUÇÃO FINAL PARA O CSS GLOBAL */
:root {
  --color-nexus-dark: #000000;
  --color-nexus-secondary: #e2e8f0;
}

body {
    background-color: var(--color-nexus-dark);
    color: var(--color-nexus-secondary);
    min-height: 100vh;
}